:root {
    --color-bg-header: #f6f2f2;
    --dark-bg-color: #313030;
    --color-white: #fff;
    --color-for-button: #ff2d2d;
    --color-for-active: #ff3b3b;
    --color-bg-form: #e5e5e5;
    --color-p-form: #444;
    --color-contact-info: #d5d5d5;
    --font-size-es: 14px;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 42px;
    --font-size-xxl: 60px;
    --line-height-sm: 24px;
    --line-height-md: 28px;
    --line-height-lg: 34px;
    --line-height-xl: 42px;
    --font-weight: bold;
    --text-decoration: none;
    --text-transform: uppercase;
    --border-radius: 6px;
    --transition: .3s;
    --text-align: center;
    --list-style: none;
    --border: none;
    --border-for-button: 2px solid transparent;
    --content-width: 1280px;
    --content-width-first: 1024px;
    --content-width-second: 767px;
    --content-width-third: 576px;
}

body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-sm);
}

h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight);
    line-height: 50px;
    text-transform: var(--text-transform);
}

.container {
    width: 100%;
    max-width: var(--content-width);
    padding: 0 15px;
    margin: 0 auto;
}

header {
    padding-top: 30px;
    background-color: var(--color-bg-header);
}

header .menu-wrapper {
    background-color: var(--dark-bg-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: var(--list-style);
}

header nav a {
    display: inline-block;
    padding: 35px 25px;
    color: #e0e0e0;
    font-weight: var(--font-weight);
    text-decoration: var(--text-decoration);
    text-transform: var(--text-transform);
}

header nav a:hover {
    background-color: #ff3f40;
    transition: var(--transition);
}

/* Block 1 */
section {
    padding: 110px 0;
}

.banner {
    background-color: var(--color-bg-header);
}

.banner .banner__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner .banner__content .col {
    width: 50%;
}

.banner h1 {
    margin-bottom: 20px;
    color: #000;
    font-size: var(--font-size-xxl);
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 72px;
    text-transform: var(--text-transform);
}

.banner .banner__description {
    max-width: 518px;
    margin-bottom: 30px;
    color: #494848;
}

.banner .col iframe {
    width: 100%;
    height: 100%;
}

.banner .col.right iframe {
    border: var(--border);
    box-shadow: 3px 3px 100px 1px rgba(0, 0, 0, 50%);
}

.btn {
    display: inline-block;
    padding: 18px 65px;
    border: var(--border-for-button);
    border-radius: var(--border-radius);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight);
    letter-spacing: 1px;
    line-height: 20px;
    text-decoration: var(--text-decoration);
    text-transform: capitalize;
}

.btn.btn-filled {
    background-color: var(--color-for-button);
    color: var(--color-white);
}

.btn.btn-outline {
    border-color: var(--color-for-button);
    color: var(--color-for-button);
}

.btn.btn-filled:hover {
    border-color: var(--color-for-button);
    background-color: var(--color-white);
    color: var(--color-for-button);
    transition: var(--transition);
}

.btn.btn-outline:hover {
    border-color: var(--color-white);
    background-color: var(--color-for-button);
    color: var(--color-white);
    transition: var(--transition);
}

/* Block 2 */

.services .row {
    display: flex;
    padding-bottom: 105px;
    border-bottom: 2px #ececec solid;
}

.services .block-title {
    margin-bottom: 54px;
}

.services .col {
    width: 50%;
}

.services .col:first-child {
    padding-right: 90px;
}

.services .col:last-child {
    padding-left: 45px;
}

.services .services__description {
    margin-bottom: 54px;
}

.services .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
}

.services .services_item {
    display: flex;
    width: calc(50% - 25px);
    flex-direction: column;
}

.services .services_item img {
    max-width: 41px;
    margin-bottom: 30px;
}

.services .services_item h3 {
    margin-bottom: 8px;
    color: #4c4c4c;
    font-size: var(--font-size-lg);
    font-weight: 600;
}

/* Block 3 */

.products .products-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.products h2 {
    max-width: 430px;
    margin: 0 auto 35px;
    text-align: var(--text-align);
}

.products .products__p {
    max-width: 510px;
    margin: 0 auto 30px;
    line-height: var(--line-height-md);
    text-align: var(--text-align);
}

.products__hr {
    width: 130px;
    height: 3px;
    border: var(--border);
    background-color: var(--color-for-active);
}

.products .products-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: var(--list-style);
}

.products .products-list a {
    display: inline-block;
    padding: 0 25px;
    color: #4c4c4c;
    font-size: 22px;
    font-weight: var(--font-weight);
    line-height: var(--line-height-sm);
    text-decoration: var(--text-decoration);
    text-transform: var(--text-transform);
}

.products .products-list a:hover {
    color: var(--color-for-button);
    transition: var(--transition);
}

.products .products-list {
    margin-bottom: 50px;
}

.products .wrapper-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.products .products__box {
    width: calc(25% - 10px);
    height: 290px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*     Block4        */

.team-header {
    max-width: 450px;
    margin-bottom: 70px;
}

.team__h2 {
    margin-bottom: 40px;
}

.team-header .team__description {
    margin-bottom: 25px;
}

.team .team__content .team__hr {
    display: inline-block;
    width: 130px;
    height: 3px;
    border: var(--border);
    margin: 0;
    background-color: var(--color-for-active);
    text-align: left;
}

.team .team-row {
    display: flex;
}

.team .col.left {
    width: 30%;
    height: 460px;
    margin-right: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team .col.right {
    width: 70%;
}

.team .team-row h3 {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: var(--text-transform);
}

.team .team-row #team__description {
    max-width: 642px;
    margin-bottom: 40px;
    color: #4c4c4c;
    line-height: var(--line-height-md);
}

.team .team-row ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: 0;
    margin-bottom: 55px;
    list-style: var(--list-style);
}

.team .team__list a {
    display: inline-block;
    margin-right: 20px;
    color: #333;
    font-size: var(--font-size-md);
    font-style: italic;
    line-height: var(--line-height-sm);
    text-decoration: var(--text-decoration);
}

.team #team__last_element {
    margin: 0;
}

.team .wrapper-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.team .wrapper-box a {
    position: relative;
    display: inline-block;
    width: calc(25% - 10px);
    height: 210px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team .hidden-tittle {
    width: 100%;
    padding: 8px;
    background-color: #7a786e;
    color: var(--color-white);
    font-size: var(--font-size-md);
    letter-spacing: 1px;
    opacity: 0;
    text-align: var(--text-align);
    text-decoration: var(--text-decoration);
    text-transform: var(--text-transform);
}

.team-photo__one .hidden-tittle,
.team-photo__two .hidden-tittle,
.team-photo__three .hidden-tittle,
.team-photo__four .hidden-tittle {
    position: absolute;
    bottom: 0;
    left: 0;
}

.team-photo__one:hover .hidden-tittle,
.team-photo__two:hover .hidden-tittle,
.team-photo__three:hover .hidden-tittle,
.team-photo__four:hover .hidden-tittle {
    display: inline-block;
    opacity: 1;
    transition: var(--transition);
}

/*            Block 5          */

.form {
    background-color: #f5f0dd;
}

.form .form__content h3 {
    margin-bottom: 30px;
    color: #fdfcf8;
    font-size: var(--font-size-xl);
    letter-spacing: 1px;
    line-height: var(--line-height-xl);
    text-align: var(--text-align);
}

.form .form__content p {
    margin-bottom: 55px;
    color: #816b15;
    text-align: var(--text-align);
}

.form .form__input-button {
    margin: 0 auto;
    text-align: var(--text-align);
}

.form .form__content .form__email {
    display: inline-block;
    width: 100%;
    max-width: 525px;
    height: 80px;
    padding-left: 35px;
    border: var(--border);
    margin-right: 20px;
    border-radius: var(--border-radius);
}

.form .form__button {
    padding: 19px 50px;
    border: var(--border-for-button);
    background-color: var(--color-for-button);
    border-radius: var(--border-radius);
    color: #fdfcf8;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight);
    letter-spacing: 1px;
    line-height: var(--line-height-lg);
    text-transform: var(--text-transform);
}

.form .form__button:hover {
    border-color: var(--color-for-button);
    background-color: var(--color-white);
    color: var(--color-for-button);
    transition: var(--transition);
}

/*      Block      */

.contact {
    overflow-x: hidden;
}

.contact__row-header {
    margin-bottom: 75px;
}

.contact__row-header h2 {
    margin-bottom: 50px;
}

.contact__row-header p {
    max-width: 732px;
    margin-bottom: 50px;

}

.contact .contact__hr {
    width: 130px;
    height: 3px;
    border: var(--border);
    margin: 0;
    background-color: var(--color-for-active);
    text-align: var(--text-align);
}

.contact__row {
    position: relative;
    display: flex;
}

.contact .contact__form {
    width: calc(100% / 3 * 2);
    margin-right: 106px;
}

.contact__form-header {
    display: flex;
    margin-bottom: 45px;
}

.contact__form #text,
.contact__form #email_two {
    width: 50%;
    padding: 17px;
    border: var(--border);
    background-color: var(--color-bg-form);
    border-radius: var(--border-radius);
    color: var(--color-p-form);
    line-height: var(--line-height-lg);
}

.contact__form #text {
    margin-right: 50px;
    font-size: var(--font-size-md);
}

.contact__form #textarea {
    width: 100%;
    height: 250px;
    padding: 30px;
    border: var(--border);
    margin-bottom: 45px;
    background-color: var(--color-bg-form);
    border-radius: var(--border-radius);
    color: var(--color-p-form);
    line-height: var(--line-height-lg);
}

.contact__form #button {
    width: 100%;
    height: 70px;
    border: var(--border-for-button);
    background-color: var(--color-for-active);
    border-radius: var(--border-radius);
    color: var(--color-white);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight);
    text-align: var(--text-align);
    text-transform: var(--text-transform);
}

.contact__form #button:hover {
    border-color: var(--color-for-active);
    background-color: var(--color-bg-form);
    color: var(--color-for-active);
    transition: var(--transition);
}

.contact .contact__info {
    width: calc(100% / 3);
    height: 482px;
    padding: 130px 50px 100px;
    background-color: var(--dark-bg-color);
    color: var(--color-white);
}

.contact .contact__row:after {
    position: absolute;
    left: 100%;
    display: inline-block;
    width: 100vw;
    height: 482px;
    background-color: var(--dark-bg-color);
    content: '';
}

.contact .contact__info h4 {
    padding-bottom: 30px;
    color: var(--color-contact-info);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight);
    text-transform: var(--text-transform);
}

.contact .contact__info p {
    padding-bottom: 20px;
    color: var(--color-contact-info);
    line-height: var(--line-height-md);
}

.contact .contact__info a {
    display: inline-block;
    color: var(--color-contact-info);
    line-height: var(--line-height-md);
    text-decoration: var(--text-decoration);
}

.contact .contact__email {
    padding-bottom: 20px;
}

/* Footer */
footer {
    padding: 55px 0 40px;
}

.footer-logo {
    background-color: var(--dark-bg-color);
    color: #a6a6a6;
}

.footer-logo__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-logo__img {
    display: flex;
}

.footer-logo__img img {
    padding-right: 17px;
}


@media (max-width: 1280px) {
    .container {
        max-width: var(--content-width-first);
    }

    .banner h1 {
        font-size: 53px;
    }

    .products .wrapper-box {
        justify-content: flex-start;
    }

    .products .products__box {
        width: calc(100%/3 - 10px);
    }

    .contact .contact__form {
        width: 60%;
        margin-right: 60px;
    }

    .contact .contact__info {
        width: 40%;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: var(--content-width-second);
    }

    .banner .banner__content {
        flex-direction: column;
    }

    .banner .banner__content .col {
        width: 100%;
    }

    .banner .col.left {
        padding-right: 0;
        margin-bottom: 50px;
    }

    .banner h1 {
        font-size: var(--font-size-xxl)
    }

    .banner .banner__description {
        max-width: initial;
    }

    .banner .col.right {
        padding-left: 0;
    }

    .banner .col iframe {
        height: 350px;
    }

    .services .row {
        flex-direction: column;
    }

    .services .col {
        width: 100%;
    }

    .services .col:first-child {
        padding-right: 0;
        margin-bottom: 70px;
    }

    .services .col:last-child {
        padding-left: 0;
    }

    .products .wrapper-box {
        justify-content: space-between;
    }

    .products .products__box {
        width: calc(50% - 10px);
    }

    .team .team-row {
        flex-direction: column;
    }

    .team .col.left {
        width: 100%;
        height: 300px;
        margin: 0 auto 70px;
    }

    .team .col.right {
        width: 100%;
    }

    .team-header {
        max-width: initial;
    }

    .team .team-row #team__description {
        max-width: initial;
    }

    .form .form__content .form__email {
        margin: 0 0 35px;
    }

    .contact .contact__form {
        margin-right: 40px;
    }

    .contact__form #text {
        margin-right: 25px;
    }

    .contact .contact__row:after {
        display: none;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: var(--content-width-third);
    }

    section {
        padding: 70px 0;
    }

    .team .wrapper-box a {
        width: calc(50% - 10px);
        height: 210px;
    }

    .contact__row {
        flex-direction: column;
    }

    .contact .contact__form {
        width: 100%;
        margin-right: 0;
        margin-bottom: 59px;
    }

    .contact .contact__info {
        width: 100%;
        height: 482px;
    }

    .contact .contact__row:after {
        display: none;
    }

    .footer-logo__img img {
        padding-right: 5px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: var(--font-size-es);
    }

    section {
        padding: 40px 0;
    }

    h2 {
        font-size: 28px;
        line-height: var(--line-height-xl);
    }

    header nav ul {
        justify-content: space-around;
    }

    header nav a {
        padding: 25px 5px;
        font-size: var(--font-size-es);
        font-weight: normal;
    }

    .banner h1 {
        font-size: 33px;
        letter-spacing: 1px;
        line-height: var(--line-height-xl);
    }

    .btn {
        width: 100%;
        padding: 15px 65px;
        font-size: var(--font-size-es);
        text-align: var(--text-align);
    }

    .banner .col iframe {
        height: 250px;
    }

    .services .block-title {
        margin-bottom: 34px;
    }

    .services .services__description {
        margin-bottom: 35px;
    }

    .services .col:first-child {
        margin-bottom: 50px;
    }

    .services .services__list {
        flex-direction: column;
        gap: 30px;
    }

    .services .services_item {
        width: 100%;
    }

    .services .services_item h3 {
        margin-bottom: 5px;
        font-size: var(--font-size-md);
    }

    .services .row {
        padding-bottom: 60px;
    }

    .services .services_item img {
        max-width: 25px;
        margin-bottom: 10px;
    }

    .products .products-header {
        margin-bottom: 50px;
    }

    .products .products-list {
        margin-bottom: 15px;
    }

    .products .products-list a {
        padding: 0 10px;
        font-size: var(--font-size-md);
    }

    .products .wrapper-box {
        flex-direction: column;
        justify-content: flex-start;
    }

    .products .products__box {
        width: 100%;
    }

    .team-header {
        margin-bottom: 50px;
    }

    .team__h2 {
        margin-bottom: 30px;
    }

    .team .col.left {
        margin: 0 auto 50px;
    }

    .team .team-row h3 {
        margin-bottom: 25px;
        font-size: var(--font-size-lg);
    }

    .team .team__list a {
        padding-right: 8px;
        font-size: var(--font-size-es);
    }

    .team .wrapper-box a {
        width: calc(50% - 10px);
    }

    .form .form__content h3 {
        font-size: 32px;
        line-height: var(--line-height-xl);
    }

    .form .form__content .form__email {
        height: 54px;
        font-size: var(--font-size-es);
    }

    .form .form__button {
        padding: 11px 30px;
        font-size: var(--font-size-es);
        line-height: var(--line-height-md);
    }

    .contact__row-header {
        margin-bottom: 50px;
    }

    .contact__row-header h2 {
        margin-bottom: 30px;
    }

    .contact__row-header p {
        margin-bottom: 31px;
    }

    .contact__form-header {
        margin-bottom: 25px;
    }

    .contact__form #text {
        margin-right: 11px;
    }

    .contact__form #text,
    .contact__form #email_two {
        padding: 10px;
        font-size: var(--font-size-es);
    }

    .contact__form #textarea {
        height: 200px;
        padding: 10px;
        margin-bottom: 25px;
        font-size: var(--font-size-es);
    }

    .contact .contact__info {
        height: 400px;
        padding-top: 80px;
    }

    .contact__form #button {
        height: 54px;
        font-size: var(--font-size-es);
    }

    .footer-logo p {
        font-size: var(--font-size-es);
    }
}